{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>District</th>
        </tr>
      </thead>
      <tbody>
      {% for station in bus_stations %}
        <tr>
          <td>{{ station.Name }}</td>
          <td>{{ station.Street }}</td>
          <td>{{ station.District }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if bus_stations.has_previous %}<a class="button button-primary" href="?page={{ bus_stations.previous_page_number }}">⟵</a>{% endif %}
    <a class="button disabled" href="">{{ bus_stations.number }}</a>
    {% if bus_stations.has_next %}<a class="button button-primary" href="?page={{ bus_stations.next_page_number }}">⟶</a>{% endif %}
  </div>
</div>
{% endblock %}